body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
  }
  
  .container {
    text-align: center;
    margin-top: 100px;
  }
  
  input[type="text"] {
    padding: 15px;
  }
  
  button {
    padding: 15px 25px;
    margin-top: 15px;
    background-color: royalblue;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkblue;
  }
  